
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  /*  ====================  Color Palate  ====================  */
  --color-dark: #773DC8;
  --color-semilight: #8444DF;
  --color-hightlighter: #AC75FF;
  --color-light: #eddfff;
  --color-lighter: #F7F7F7;
  --color-white: #FFFFFF;

  --color-new: #10C092;
  
  --font-color-dark: #333333;
  --font-color-light: #5F6F81;
  
  --border-color-regular: rgb(218, 218, 218);
  --background-color-regular: #F4F4F4;

  /*  ===========================================================  */
  

  /*  ======================  Box Shadow  ======================  */
  --boxShadow-focus: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  
  /*  ===========================================================  */
  
  
  /*  ======================  Typography  ======================  */
  --font-family-main: 'Roboto', sans-serif;
  /* --font-family-main: 'Comfortaa', cursive ; */
  --font-size-large: 1.5rem;
  --font-size-regular: 1.2rem;
  --font-size-medium: 1.1rem;
  --font-size-small: 1rem;
  --font-size-extra-small: 0.9rem;

  /*  ==========================================================  */

  
  /*  =====================  Screen Size  ======================  */
  --screen-size-original: 1080px;

  /*  ==========================================================  */

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
}


/*  ==================  CUSTOM SCROLL BAR starts here !!  ==================  */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--color-light);
  /* border-radius: 0.5rem; */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color-dark), var(--color-light));
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--color-dark), var(--color-light));
}


a::selection,
li::selection,
ul::selection,
span::selection,
p::selection,
h6::selection,
h5::selection,
h4::selection,
h3::selection,
h2::selection,
h1::selection {
  background-color: var(--color-hightlighter);
}