footer .footer {
  font-size: var(--font-size-regular);
  color: var(--font-color-light) !important;
  padding: 1rem 0 !important;
  justify-content: space-between;
  display: flex;
  width: 1080px;
  margin: auto;
  overflow: hidden !important;
}
footer .footer p {
  align-items: center;
  display: flex;
}
span.footer__sayan-maity {
  display: flex;
  align-items: center;
  padding-right: 0.3rem;
}

span.footer__sayan-maity a {
  text-decoration: none;
  color: var(--font-color-dark);
  transition: all 0.3s ease-in;
}
span.footer__sayan-maity a:hover {
  text-decoration: underline;
}

.social-links a,
.buymeacoffee a {
  text-decoration: none;
  color: var(--font-color-dark);
}

.social-links a {
  font-size: var(--font-size-regular) !important;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}
.social-links a:focus {
  box-shadow: var(--boxShadow-focus);
}

.copyrightIcon {
  font-size: 1.5rem !important;
  padding-right: 0.2rem;
}
.footer__copyright {
  display: flex;
  align-items: center;
  color: var(--font-color-dark) !important;
}
.footer__copyright span:nth-child(1),
.footer__copyright span:nth-child(2),
.footer__copyright span:nth-child(3) {
  display: flex;
  align-items: center;
  /* background-color: red; */
  gap: 0.2rem;
}
.footer__copyright span:nth-child(2) {
  margin-right: 0.3rem;
}
.buymeacoffee a {
  display: flex;
  align-items: center;
  z-index: -1;
}
.coffeeIcon {
  rotate: 20deg;
  font-size: 1.5rem !important;
  padding-left: 0.1rem;
}
.heartIcon {
  font-size: 1.5rem !important;
  margin-left: 0.3rem;
  color: var(--color-semilight) !important;
}
@media screen and (max-width: 1120px) {
  footer .footer {
    width: 100%;
    margin: auto;
    padding: 1rem 2rem !important;
  }
}
@media screen and (max-width: 840px) {
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}

@media screen and (max-width: 700px) {
  footer .footer {
    margin-bottom: 2.8rem;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 380px) {
  .footer__copyright span:nth-child(2) {
    display: none;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
  }
}
