.home__image {
    display: flex;
    justify-content: center;
  }
  .home__image .home__solid {
    background-color: rgb(63, 63, 63);
    height: 18rem;
    width: 15rem;
    z-index: 1;
    position: absolute;
    margin-left: -1rem;
    margin-top: -1rem;
  }
  .home__image .home__frame {
    background-color: transparent;
    height: 18rem;
    width: 18rem;
    z-index: 2;
    position: absolute;
    margin-right: 9rem;
    margin-top: 14rem;
    border: 0.6rem solid #333;
  }
  .home__image .home__stripe {
    background: repeating-linear-gradient(
      45deg,
      #333,
      #333 6px,
      transparent 6px,
      transparent 13px
    );
    height: 14rem;
    width: 11rem;
    z-index: 4;
    position: absolute;
    margin-top: 13rem;
    margin-left: 14rem;
  }
  .home__image .home__pic {
    background: url('https://ik.imagekit.io/sayancr777/Portfolio/sayan.jpg?updatedAt=1691154907703') no-repeat center;
    filter: grayscale(100%);
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(92, 92, 92);
    height: 27rem;
    width: 21rem;
    z-index: 5;
    margin-top: 2rem;
    margin-right: 1rem;
  }




.title {
    /* transform: translateX(10rem); */
    z-index: 10;
    color: transparent;
	font-size: 18rem;
	-webkit-text-stroke: 2px black;
  
}
.iii {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  line-height: 0.5;
}











  @media screen and (max-width: 1370px){
    .home .home__row {
      min-height: 100vh;
    }
    .home__image .home__solid {
      height: 18rem;
      width: 13rem;
      margin-left: 1.5rem;
      margin-top: -0.5rem;
    }
    .home__image .home__frame {
      height: 16rem;
      width: 16rem;
      margin-right: 6rem;
      margin-top: 13rem;
      border: 0.5rem solid #333;
    }
    .home__image .home__stripe {
      height: 12rem;
      width: 10rem;
      margin-top: 12rem;
      margin-left: 13rem;
    }
    .home__image .home__pic {
      height: 25rem;
      width: 19rem;
      margin-top: 2rem;
      margin-right: -1rem;
    }
}
  @media screen and (max-width: 1200px) {
    .home__image .home__solid {
      height: 18rem;
      width: 12rem;
      margin-left: 1.5rem;
      margin-top: -0.5rem;
    }
    .home__image .home__frame {
      height: 14rem;
      width: 14rem;
    }
    .home__image .home__stripe {
      height: 10rem;
      margin-left: 11rem;
    }
    .home__image .home__pic {
      height: 23rem;
      width: 17rem;
      margin-top: 2rem;
      margin-right: -1rem;
    }
  
    
  }

  @media screen and (max-width: 400px) {
    .home__image .home__pic {
      background-size: cover;
      border-radius: 50%;
      height: 18rem;
      width: 18rem;
      box-shadow: none;
      border: solid 0.6rem #333 !important;
      
    }
    .home__image .home__solid {
      border-radius: 50%;
      z-index: 12;
      height: 3rem;
      width: 3rem;
      background-color: #333;
      margin-left: -13rem;
      margin-top: 1rem;
    }
    .home__image .home__frame {
      display: none;
    }
    .home__image .home__stripe {
      background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 2.2px,
        transparent 2.2px,
        transparent 8px
      );
      border-radius: 50%;
      z-index: 12;
      height: 6rem;
      width: 6rem;
      margin-top: 16rem;
      margin-left: 14rem;
    }
  }


  @media screen and (max-width: 310px){
    .home__image .home__pic {
      height: 14rem;
      width: 14rem;
      border: solid 0.4rem #333 !important;
      
    }
    .home__image .home__stripe {
      background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 2px,
        transparent 2px,
        transparent 5.7px
      );
      height: 4rem;
      width: 4rem;
      margin-top: 13rem;
      margin-left: 10rem;
    }
    .home__image .home__solid {
      border-radius: 50%;
      z-index: 12;
      height: 2.2rem;
      width: 2.2rem;
      background-color: #333;
      margin-left: -10rem;
      margin-top: 1.4rem;
    }
  }