/* ------------------------  General  -------------------------- */
.skeleton-style {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  width: 1080px;
  border: 1px solid var(--border-color-regular);
  padding: 3rem;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 1080px) {
  .skeleton-style {
    width: 90%;
  }
}

/* ------------------------  Project  -------------------------- */
.skeleton-style-blog ,
.skeleton-style-project {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  width: 1080px;
  border: 1px solid var(--border-color-regular);
  padding: 3rem;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 1080px) {
  .skeleton-style-project {
    width: 90% !important;
  }
}
@media screen and (max-width: 700px) {
  .skeleton-style-project {
    flex-direction: column;
  }
}

/* ------------------------  Project  -------------------------- */
@media screen and (max-width: 1080px) {
  .skeleton-style-blog {
    width: 90% !important;
  }
}
@media screen and (max-width: 700px) {
  .skeleton-style-blog {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .skeleton-style-blog .left {
    display: none;
  }
  .skeleton-style-blog .right {
    width: 100% !important;
  }
  
}
/* ------------------------  Volunteer & Open Source  -------------------------- */
.skeleton-style-volunteer {
  gap: 2rem;
  align-items: flex-start;
  width: 1080px;
  border: 1px solid var(--border-color-regular);
  padding: 3rem;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 1080px) {
  .skeleton-style-volunteer {
    width: 90% !important;
  }
}
@media screen and (max-width: 700px) {
  .skeleton-style-volunteer {
    flex-direction: column;
  }
}

/* ------------------------  Certificate  -------------------------- */
.skeleton-style-certificate {
  display: flex;
  flex-direction: row;
  width: 1080px;
  flex-wrap: wrap;
  gap: 2rem;
  
}
.skeleton-style-certificate-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 31%;
  align-items: flex-start;
  border: 1px solid var(--border-color-regular);
  padding: 2rem;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 1080px) {
  .skeleton-style-certificate-inner {
    width: 90% !important;
  }
  .skeleton-style-certificate-inner {
    width: 45% !important;
  }
}
@media screen and (max-width: 450px) {
  .skeleton-style-certificate {
    flex-direction: column !important;
  }
  .skeleton-style-certificate-inner {
    width: 100% !important;
  }
}